node_modules/
npm-debug.log
.DS_Store
.env
coverage/
.idea/
.vscode/
*.log
*.lock
*.tmp
*.swp
*.bak
*.orig
*.cache
*.pid
*.seed
*.tgz
*.gz
*.zip
*.tar
*.rar
*.7z
*.exe
*.dll
*.so
*.dmg
*.pkg
*.deb
*.rpm
*.msi
*.apk
*.ipa
*.war
*.ear
*.class
*.jar
*.swc
*.swf
*.o
*.obj
*.a
*.lib
*.dll
